.contenedor-explorar{
    min-height: 100vh;
    background-color: #2f7192;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contenedor-publicaciones-explorar{
    width: 100%;
}
.contenedor-opciones-explorar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1e8e3e;
    min-width: 30%;
    padding: 0.5rem;
    border-radius: 15px;
    margin: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.opciones-explorar {
    padding: 8px;
    cursor: pointer;
    border-radius: 12px;
    color: #ffffff;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.opciones-explorar:hover {
    background-color: #145a2a;
    transform: scale(1.05);
}
.contenedor-publicaciones-gustados{

    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contenedor-publicaciones-nuevos{
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contenedor-publicaciones-siguiendo{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post-explorar {
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.post-info-explorar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-info-explorar p {
    font-size: 13px;
    color: #939393;
}

@media screen and (max-width: 768px) {
    .contenedor-opciones-explorar{
        width: 90%;
    }
    .contenedor-publicaciones-explorar{
        width: 100%;
    }
    .post-explorar {
        width: 90%;
    }
    .contenedor-publicaciones-gustados{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contenedor-publicaciones-nuevos{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contenedor-publicaciones-siguiendo{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contenedor-publicaciones-explorar{
        width: 100%;
    }
    
}